/** LESS MIX-INS **/
@mixin box-shadow-inset($x:0, $y:0, $blur:10px, $color:rgba(0,0,0,0.5)){
	box-shadow:inset $x $y $blur $color;
	-moz-box-shadow:inset $x $y $blur $color;
	-webkit-box-shadow:inset $x $y $blur $color;
	-o-box-shadow:inset $x $y $blur $color;
	-ms-box-shadow:inset $x $y $blur $color;
}
@mixin box-shadow($x:0, $y:0, $blur:10px, $color:rgba(0,0,0,0.5)){
	box-shadow:$x $y $blur $color;
	-moz-box-shadow:$x $y $blur $color;
	-webkit-box-shadow:$x $y $blur $color;
	-o-box-shadow:$x $y $blur $color;
	-ms-box-shadow:$x $y $blur $color;
}

/** COLOR variables **/
$primary: #2196F3;
$primary-txt: #ffffff;
$primary-700: #1976D2;
$primary-900: #0D47A1;
$accent-color: #304FFE;
$primary-bg: #E3F2FD;
$font-stack: 'Open Sans', sans-serif;

/** SITE WIDE **/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font: $font-stack;
	background-color: $primary-900;
	color: #000000;
	margin:0;
	padding:0;
}

a { text-decoration: none; color: $primary-txt;}
a:hover { text-decoration: none; color: $accent-color; }
a:active:visited { text-decoration: none; color: #ffffff; }

h1,h2,h3,h4,h5,h6 { font-weight: 600; text-shadow: 2px 2px 5px #212121; opacity: 0.80;
	margin:0;
	padding:0;
}

h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.1em; }

.mce-menubar.mce-toolbar { display: none; }

.fade.ng-hide-add, .fade.ng-hide-remove {
	transition: all linear 0.5s;
}

.fade.ng-hide {
	opacity: 0;
}

/** HEADER **/
header {
	background-color: $primary-900;
	color: #ffffff;
	h1 {
		margin: 10px 0 10px 0;
		a {
				color: $primary-txt;
				opacity: 0.8;
				filter: alpha(opacity=80);
				transition: all linear 0.2s;
		}
		a:hover {
				color: $primary-txt;
				opacity: 1;
				filter: alpha(opacity=100);
				transition: all linear 0.2s;
		}
	}
	.bracelets {
		max-width: 100%;
		max-height: 66%;
		border-radius: 50%;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	ul {
		list-style-type: none;
		li {
			a {
				text-shadow: 2px 2px 2px #212121;
				font-size: 2.0em;
				margin: 5px 0;
			}
			a:hover {
				color: $primary-txt;
				font-style: italic;
			}
		}
	}
}

.header_menu li {display: inline; }

.jumbotron {
		background-color: transparent;
}
/** CONTENT **/
.content-wrapper{
	background-color: $primary-bg;
	@include box-shadow(0,0,20px,rgba(0,0,0,0.4));
	padding: 15px 0;
	a { text-decoration: none; color: $primary-700;}
	a:hover { text-decoration: none; color: $accent-color; }
	a:active:visited { text-decoration: none; color: $primary-700; }
}

/** PROJECTS ROW **/
.post-title {
	opacity: 0.9;
	color: $accent-color;
	margin: 5px 0;
}

.searchinput {
	margin: 5px 0;
	font-size: 1.9em;
	max-width: 25%;
	min-width: 150px;;
	border: 2px solid rgba(0,0,0,0.4);
	border-radius: 4px;
	box-shadow: 2px 2px 5px $accent-color;
}

article.projects{
	width: 80%;
	margin:10px 5px;
	padding:10px;
	border: 1px solid $primary-900;
	border-radius: 4px;
	box-shadow: 2px 2px 5px $accent-color;

	span.date{
		display:block;
		font-size:14px;
		font-style:italic;
	}
	a{
		font-size: 2.3em;
		text-decoration: none;

		&.title{
			display:block;
		}

	}
	p{
		font-size: 1.5em;
	}
	div.edit{
		display:inline-block;
		padding:0 0 0 5px;
	}
}

/** Buttons **/

.btn.btn-primary.btn-small {
	background-color: $primary;
	color: #ffffff;
	border-color: #ffffff;
	border-radius: 4px;
	transition: all linear 0.2s;
}

.btn.btn-primary.btn-small:hover {
	background-color: $accent-color;;
	color: #ffffff;
	border-color: #ffffff;
	transition: all linear 0.2s;
}

.btn.btn-primary.btn-small:active {
	background-color: transparent;
	color: #ffffff;
	border-color: #ffffff;
	transition: all linear 0.2s;
}

/** SAVE MODAL **/

div#save{
	padding:20px;

	form{
		width:100%;
		input,textarea, button{
			width:90%;
			display:block;
			margin:0 auto;
		}
		input[type="submit"], button{
			padding:10px;
			margin:10px auto;
		}
		textarea{
			height:400px;
		}
		span.mceEditor{
			display:block;
			width:93%;
			padding:4px 6px;
			display:block;
			margin:0 auto;
			position: relative;

			table{
				width:100%;
			}
		}
	}
}

/** SIDEBAR **/

div.sidebar{
	section{
		margin-bottom:40px;
		padding:10px 0;

		&:first-child{
			padding-top:0;
		}
		h4{
			text-transform: uppercase;
			margin-bottom:10px;
		}
		form#comment-form{
			span.help-block{
				font-style:italic;
				color:red;
				font-size:10px;
			}
		}
	}
}

/** COMMENTS **/

article.comment{
	span.author{
		font-size:12px;
		font-style:italic;
		font-weight:bold;
		text-transform: uppercase;
	}
	blockquote{
		display:block;
		padding:10px 0 10px 20px;
		margin:10px 0;
	}
}

/** FOOTER **/

footer{
	@include box-shadow-inset(0px,10px,20px,rgba(0,0,0,0.4));
	padding:20px 0;
	color:#FFF;
	background-color: $primary-900;
}

