/** LESS MIX-INS **/
@mixin box-shadow-inset($x:0, $y:0, $blur:10px, $color:rgba(0,0,0,0.5)){
	box-shadow:inset $x $y $blur $color;
	-moz-box-shadow:inset $x $y $blur $color;
	-webkit-box-shadow:inset $x $y $blur $color;
	-o-box-shadow:inset $x $y $blur $color;
	-ms-box-shadow:inset $x $y $blur $color;
}
@mixin box-shadow($x:0, $y:0, $blur:10px, $color:rgba(0,0,0,0.5)){
	box-shadow:$x $y $blur $color;
	-moz-box-shadow:$x $y $blur $color;
	-webkit-box-shadow:$x $y $blur $color;
	-o-box-shadow:$x $y $blur $color;
	-ms-box-shadow:$x $y $blur $color;
}

/** COLOR variables **/
$primary: #f44336;
$primary-txt: #ffffff;
$primary-txt-dk: #000000;
$primary-700: #d32f2f;
$primary-900: #b71c1c;
$accent-color: #2962ff;
$primary-bg: #fafafa;
$font-stack: 'Open Sans', sans-serif;
/** Grey- for light backgrounds **/
$grey-300: #e0e0e0;
$grey-100: #f5f5f5;
$grey-50: #fafafa;
/** Grey- for dark backgrounds **/
$grey-900: #212121;
$grey: #303030;
$grey-800: #424242;

/** SITE WIDE **/

body {
	font-family: $font-stack;
	background-color: $grey;
	width: 100%;
	color: #000000;
	margin:0;
	padding:0;
}

a { text-decoration: none; color: $primary-txt;}
a:hover { text-decoration: none; color: $accent-color; }
a:active:visited { text-decoration: none; color: #ffffff; }

h1,h2,h3,h4,h5,h6 { color: $primary-900; font-weight: 600; text-shadow: 2px 2px 5px $grey-900; opacity: 0.85;
	margin:0;
	padding:0;
}

h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.1em; }

p { font-size: 1.1em; }

hr {
	border: 1px solid $primary;
	box-shadow: 1px 1px 1px $primary-900;
}

*:focus {
    outline: none;
}

.mce-menubar.mce-toolbar { display: none; }

.fade.ng-hide-add, .fade.ng-hide-remove {
	transition: all linear 0.5s;
}

.fade.ng-hide {
	opacity: 0;
}

/** HEADER **/

header {
	color: #ffffff;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 5px solid transparent;
	@include box-shadow(5px,5px,10px,rgba(0,0,0,0.4));
}

.header-img img {
	width: 100%;
	@include box-shadow(5px,5px,10px,rgba(0,0,0,0.4));
}

.logo-title-row {
	height: 250px;
	width: 100%;
	margin: auto;
	display:inline;
	overflow: hidden;
		.logo {
		display: inline;
		height: auto;
		border-radius: 50%;
		margin: 10px 5px 10px 10px;
		width: 10%;
		opacity: 0.9;
		}
		.title {
		white-space: nowrap;
		font-size: 4em;
		display: inline;
		margin: 10px 0 10px 5px;
		}
}

.header_menu {
	width: 100%;
}

.header_menu ul {
	list-style-type: none;
	li {
			display: inline;
		a {
				font-size: 2.0em;
				margin: 15px 5px;
				padding: 5px 7px;
				background-color: transparent;
				color: $primary-txt;
				border: 2px solid $primary-txt;
				transition: all linear 0.2s;
				text-align: center;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				white-space: nowrap;
				line-height: 200%;
			}
			a:hover {
				background-color: $primary-900;
				transition: all linear 0.2s;
			}
		}
}

/** CONTENT **/
.content-wrapper{
	background-color: $grey-100;
	@include box-shadow(5,5,20px,rgba(0,0,0,0.4));
	padding: 15px 0;
	a { text-decoration: none; color: $primary-700;}
	a:hover { text-decoration: none; color: $accent-color; }
	a:active:visited { text-decoration: none; color: $primary-700; }
	@include box-shadow-inset(0px,10px,20px,rgba(0,0,0,0.4));
}

/** PROJECTS ROW **/
.searchinput {
	font-size: 1.9em;
	border: 1px solid transparent;
	border-radius: 0;
	@include box-shadow(5px,5px,10px,rgba(0,0,0,0.4));
}

.searchinput:focus {
	outline: none;
}

article.deeds{
	background-color: $grey-50;
	width: 80%;
	margin:10px 5px;
	padding:10px;
	border-top: 1px solid $grey-50;
	border-left: 1px solid $grey-50;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	@include box-shadow(5px,5px,10px,rgba(0,0,0,0.4));

	span.date{
		display:block;
		font-size:14px;
		font-style:italic;
	}
	a{
		font-size: 2.3em;
		text-decoration: none;

		&.title{
			display:block;
		}

	}
	p{
		font-size: 1.5em;
	}
	div.edit{
		display:inline-block;
		padding:0 0 0 5px;
	}
}

/** Buttons **/

.btn.btn-primary {
	background-color: $primary-900;
	color: $primary-txt;
	border-color: $primary-txt;
	transition: all linear 0.2s;
}

.btn.btn-primary:hover {
	color: $primary-900;
	border-color: $primary-900;
	background-color: transparent;
	transition: all linear 0.2s;
}

.btn.btn-primary:active {
	background-color: transparent;
	color: $primary-txt;
	border-color: $primary-900;
	transition: all linear 0.2s;
}

/** SAVE MODAL **/

div#save{
	padding:20px;

	form{
		width:100%;
		input,textarea, button{
			width:90%;
			display:block;
			margin:0 auto;
		}
		input[type="submit"], button{
			padding:10px;
			margin:10px auto;
		}
		textarea{
			height:400px;
		}
		span.mceEditor{
			display:block;
			width:93%;
			padding:4px 6px;
			display:block;
			margin:0 auto;
			position: relative;

			table{
				width:100%;
			}
		}
	}
}

/** SIDEBAR **/

div.sidebar{
	section{
		margin-bottom:40px;
		padding:10px 0;

		&:first-child{
			padding-top:0;
		}
		h4{
			text-transform: uppercase;
			margin-bottom:10px;
		}
		form#comment-form{
			span.help-block{
				font-style:italic;
				color:red;
				font-size:10px;
			}
		}
	}
}

/** COMMENTS **/



article.comment{
	span.author{
		font-size:12px;
		font-style:italic;
		font-weight:bold;
		text-transform: uppercase;
	}
	blockquote{
		display:block;
		padding:10px 0 10px 20px;
		margin:10px 0;
	}
}

/** FOOTER **/

footer{
	@include box-shadow-inset(0px,10px,20px,rgba(0,0,0,0.4));
	padding:20px 0;
	color:#FFF;
	background-color: $grey-50;
}

