<ng-include src=" dir + '/form.html?v=2' "></ng-include>
	<!-- LOOP THROUGH POSTS / ROWS -->
	<div class="row">

		<div >
			<div class="form-group">
				<label for="searchInput">Latest Posts</label>
				<input ng-model="postfilter" placeholder="Search..." class="form-control searchinput" id="searchInput">
			</div>
			<div class="row-fluid">
				<article ng-repeat="post in posts | filter:postfilter" class="projects">
					<h4>{{post.title.rendered}}</h4>
					<p ng-bind-html="post.excerpt.rendered | to_trusted"></p>
					<a class="btn btn-primary btn-small" href="{{site + '#/deed/'+ post.id + '/' + post.slug}}">Read More >></a>
					<!-- EDIT -->
					<form ng-show="is_admin" class="form-inline edit">
						<div class="form-group">
							<button ng-click="deletePost($index, post)" class="btn btn-primary btn-mini form-control">Delete</button>
							<button ng-click="editPost(post)" data-toggle="modal" data-target="#save" class="btn btn-primary btn-mini form-control">Edit</button>
						</div>
					</form>
				</article>
			</div>
		</div>

	<!-- ADD POST -->
		<div class="row" ng-show="is_admin">
			<div class="col-sm-12">
				<button class="btn btn-primary btn-mini" ng-click="addPost()" data-toggle="modal" data-target="#save">Add a Post</button>
			</div>
		</div>
